<% provide :title, t("views.pages.home") %>
<div class="center jumbotron">
  <h1>
    <strong><%= t "views.pages.welcome" %></strong>
  </h1>
  <h2><%= t "views.pages.notice" %></h2>
  <%= link_to t("views.pages.signup"), "#", class: "btn btn-lg btn-primary" %>
</div>
