@import "bootstrap-sprockets";
@import "bootstrap";

.object-icon{
  font-size: 80px;
}

.no-border{
  border: none;
}

textarea{
  resize: vertical;
}

a.text-white{
  color: white;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
}

input{
  height: auto !important;
}

.size18px{
  font-size: 18px
}
