<% provide :title, t("views.pages.dashboard") %>

<h1 class="text-info"><%= t "views.messages.welcome_admin" %></h1>
<hr>
<div class="row">
  <div class="col-md-4">
    <%= link_to @users_count, admin_users_path, class: "glyphicon glyphicon-user object-icon" %>
  </div>
  <div class="col-md-4">
    <a href="#">
      <span class="glyphicon glyphicon-list-alt object-icon"><%= @courses_count %></span>
    </a>
  </div>
  <div class="col-md-4">
    <a href="">
      <span class="glyphicon glyphicon-file object-icon"><%= @subjects_counts %></span>
    </a>
  </div>
</div>
