<footer class="footer">
  <nav>
    <ul>
      <li><%= link_to t("views.pages.about"), about_path %></li>
      <li><%= link_to t("views.pages.contact"), contact_path %></li>
      <li>
        <a><%= t "views.layouts.news" %></a>
      </li>
    </ul>
  </nav>
</footer>
