<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to t("views.layouts.testapp"), root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t("views.pages.home"), root_path %></li>
        <li><%= link_to t("views.pages.help"), help_path %></li>
        <li><%= link_to t("views.layouts.signin"), "#" %></li>
      </ul>
    </nav>
  </div>
</header>
